@page
@model Electronics.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Products">All</a></li>
        <li class="breadcrumb-item"><a asp-page="/Products" asp-route-categoryid="@Model.Product.CategoryID">@Model.Product.Category.CategoryName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Product.ProductName</li>
    </ol>
</nav>

<div class="row pt-3 mb-2">
    <div class="col-lg-6">
        <h3 class="mb-2 font-weight-bold text-warning">@Model.Product.ProductPrice DA</h3>
        <h2>@Model.Product.ProductName</h2>
        <hr />
        <p>@Html.Raw(Model.Product.ProductDescription)</p>
    </div>
    <div class="col-lg-6">
        <img class="w-100" src="~/image/@Model.Product.Thumbnail"/>
    </div>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>
